@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.relative {
  position: relative;
}

.dropdown-container .absolute {
  width: 100%; /* Matches the search bar's width */
  border-radius: 12px; /* Matches the search bar's rounded corners */
  margin-top: 4px; /* Consistent gap between search bar and dropdown */
}
